@charset "UTF-8";
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("./fonts/BasisGrotesquePro-Regular.eot") format("embedded opentype"), url("./fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  font-display: fallback;
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Bold.woff") format("woff"), url("./fonts/BasisGrotesquePro-Bold.eot") format("embedded opentype"), url("./fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 400;
  font-size: 12px;
  color: #403832;
  min-width: 380px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.main {
  background: linear-gradient(to bottom right, #B35014, #E4DFDC);
  width: 100%;
  padding: 20px;
  background-size: cover;
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  margin: 50px auto 0;
}

.container {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 6px 19px 23px 1px rgba(0, 0, 0, 0.15);
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.container--underlined {
  border-bottom: 1px solid #E4DFDC;
  padding: 20px;
}
.container--with-top-border {
  border-top: 1px solid #E4DFDC;
  padding: 20px;
  position: relative;
}
.container--calendar {
  border: none;
  font: inherit;
  color: #403832;
  float: right;
  cursor: pointer;
}
.container--calendar:hover {
  transform: scale(1.1);
}
.container--calendar:disabled {
  background: none;
  transform: none;
  opacity: 0.5;
}
.container--result {
  text-align: right;
}

.heading {
  font-size: 16px;
  text-align: center;
  padding: 20px 10px;
  margin: 0;
}

.title {
  text-align: center;
  background-color: #FFF;
  border-radius: 10px;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 20px;
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  box-shadow: 6px 19px 23px 1px rgba(0, 0, 0, 0.15);
}

.calculator {
  margin-bottom: 50px;
  position: relative;
}

.btn {
  position: absolute;
  top: 35px;
  right: 20px;
  color: #419F6F;
  border: solid 2px #419F6F;
  border-radius: 10px;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 700;
}
.btn:before {
  content: "× ";
  font-size: 10px;
  vertical-align: middle;
}
.btn:hover {
  transform: scale(1.1);
}

.radio {
  text-transform: none;
  padding-bottom: 10px;
}
.radio__input {
  margin: 0;
  cursor: pointer;
  accent-color: #419F6F;
}
.radio__input:disabled + .radio__label {
  opacity: 0.5;
}
.radio__label {
  background: #419F6F;
  color: #FFF;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.error {
  color: #f00;
  text-transform: none;
  position: absolute;
  top: 45px;
  right: 20px;
}

.result {
  font-weight: 700;
  font-size: 16px;
  color: #419F6F;
}

.dropdown {
  padding: 20px;
  position: relative;
}
.dropdown__btn {
  font-weight: 400;
  font-size: 16px;
  color: #419F6F;
  padding-right: 0px;
  padding-left: 0px;
}
.dropdown__btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0.2em;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #419F6F;
  border-right: 3px solid #419F6F;
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1) rotate(45deg);
  }
  70% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) rotate(45deg);
  }
  70% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
.dropdown__menu {
  display: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.15), -2px -2px 20px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: left;
}
.dropdown__menu--inner {
  width: 100%;
  right: 109px;
}
.dropdown__submenu:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown__item {
  text-transform: none;
  padding: 5px 10px;
}
.dropdown__item:hover {
  background: rgba(179, 80, 20, 0.3);
  transition: background 0.3s linear;
  border-radius: 10px;
}
.dropdown__label {
  display: block;
}

#all-days-menu {
  top: 15px;
}

#business-days-menu {
  top: 25px;
}

#weekends-menu {
  top: 35px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.table__head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 10px;
}

.placeholder {
  color: #E4DFDC;
  background-color: #FFF;
  padding: 20px;
  font-weight: 700;
}

tbody {
  font-size: 10px;
}

th {
  border: 1px solid #E4DFDC;
  padding: 12px;
  background-color: #B35014;
  color: #FFF;
}

td {
  border: 1px solid #E4DFDC;
  padding: 8px;
}
td:nth-child(3) {
  font-weight: 700;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:last-child td {
  border-bottom: none;
}
tr:last-child td:first-child {
  border-left: none;
}
tr:last-child td:last-child {
  border-right: none;
}
tr:hover {
  background-color: rgba(179, 80, 20, 0.3);
  transition: background 0.3s linear;
}
tr:last-child:hover td:first-child, tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child:hover td:last-child, tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    width: 60%;
  }
  .heading {
    font-size: 24px;
  }
  .wrapper {
    width: 60%;
  }
  .container--radio {
    display: flex;
    gap: 20px;
  }
  .radio {
    text-transform: uppercase;
  }
  .btn {
    top: 45px;
    font-size: 12px;
  }
  .btn:before {
    font-size: 16px;
  }
  .dropdown__btn {
    font-size: 25px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .dropdown__btn::after {
    margin-left: 15px;
    width: 15px;
    height: 15px;
  }
  .dropdown__menu--inner {
    right: 135px;
  }
  .result {
    font-size: 30px;
  }
  .table__head,
tbody {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
  .main {
    padding: 50px 0;
  }
  .title {
    font-size: 50px;
    width: 80%;
  }
  .heading {
    font-size: 24px;
  }
  .wrapper {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .container--radio {
    display: flex;
    gap: 20px;
  }
  .radio {
    text-transform: uppercase;
  }
  .container {
    width: 600px;
  }
  .container__title {
    size: 30px;
  }
  .dropdown__btn {
    font-size: 25px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .dropdown__btn::after {
    margin-left: 15px;
    width: 15px;
    height: 15px;
  }
  .dropdown__menu--inner {
    right: 135px;
  }
  .btn {
    top: 45px;
    font-size: 12px;
  }
  .btn:before {
    font-size: 16px;
  }
  .result {
    font-size: 30px;
  }
  .table__head,
tbody {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */